/* .card-program .img-program,
.modal .modal-head .img-modal{
    background-color: #1dd1a1;
} */

/* .card-program .img-program {
    background-color: #1dd1a1;
}

.card-program:hover .img-program {
    background-color: #167a66;
} */